<header>
  <div class="top">
    <div class="header-logo">
      <a routerLink="/home">
        <img src="../../../../assets/images/logo.svg" alt="Logo Fernando Vega">
      </a>
    </div>
    <div class="header-menu__icon" (click)="menu()" [ngClass]="{'open': status}" >
      <div id="nav-icon" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
<nav [ngClass]="{'open': status}">
  <ul>
    <li routerLinkActive="active"><a class="item-menu" (click)="menu()" routerLink="/home">Home</a></li>
    <li routerLinkActive="active"><a class="item-menu" (click)="menu()" routerLink="/about">About</a></li>
    <li routerLinkActive="active"><a class="item-menu" (click)="menu()" routerLink="/resume">Resume</a></li>
    <li routerLinkActive="active"><a class="item-menu" (click)="menu()" routerLink="/portfolio">Portfolio</a></li>
    <li><a class="phone-item-menu" href="https://bit.ly/2N8bOAg" target="_blank">312 4944614</a></li>
    <li><a class="mail-item-menu" href="mailto:juanfe.vega@gmail.com">juanfe.vega@gmail.com</a></li>
    <li>
      <div class="row start-xs social-icons">
        <div class="col-xs-2 social-icons-icon"><a href=""><span class="icon-codepen"></span></a></div>
        <div class="col-xs-2 social-icons-icon"><a href=""><span class="icon-github"></span></a></div>
        <div class="col-xs-2 social-icons-icon"><a href=""><span class="icon-linkedin2"></span></a></div>
        <div class="col-xs-2 social-icons-icon"><a href=""><span class="icon-twitter"></span></a></div>
      </div>
    </li>
  </ul>
</nav>