<app-hero></app-hero>
<section class="bkg-white">
  <div class="container">
    <div class="row resume">
      <div class="col-xs-12 title">
        <h1>PORTFOLIO</h1>
        <span>SOME OF MY KNOWLEDGE AND PROJECTS</span>
      </div>
      <div class="col-xs-12 col-sm-6 work-experience">
        <h5>Work experience</h5>
        <ul>
          <li>
            <div class="row between-xs">
              <p>Aug 2019 - Present</p>
              <strong>Insoftar</strong>
            </div>
            <span>FullStack Developer</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Aug 2018 - Aug 2019</p>
              <strong>Quadi</strong>
            </div>
            <span>FrontEnd Developer</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Nov 2015 - Aug 2018</p>
              <strong>DoD Media</strong>
            </div>
            <span>Software Engineer</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Feb 2014 - Dec 2017</p>
              <strong>SIA Software</strong>
            </div>
            <span>Co Founder & Software Engineer</span>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 skills">
        <h5>Some projects</h5>
        <ul>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="http://dodmediagroup.co/projects/dulce_verde/project/recetas">
                <p>DULCE VERDE</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="http://dodmediagroup.co/projects/playpass/project/">
                <p>PLAYPASS</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="http://dodmediagroup.co/projects/dromedario/template/dev/">
                <p>DROMEDARIO</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="http://dodmediagroup.co/projects/lantel/project/">
                <p>LANTEL</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="http://dodmediagroup.co/projects/medios_medios/project/">
                <p>MEDIOS SOBRE MEDIOS</p>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>