<app-hero></app-hero>
<section class="bkg-white">
  <div class="container">
    <div class="row resume">
      <div class="col-xs-12 title">
        <h1>PORTFOLIO</h1>
        <span>EXPERIENCIA LABORAL Y PROYECTOS</span>
      </div>
      <div class="col-xs-12 col-sm-6 work-experience">
        <h5>Experiencia laboral</h5>
        <ul>
          <li>
            <div class="row between-xs">
              <p>Ene 2022 - Actualidad</p>
              <strong>RobinFood</strong>
            </div>
            <span>FrontEnd Development</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Oct 2020 - Ene 2022</p>
              <strong>Scotiabank Colpatria</strong>
            </div>
            <span>FrontEnd Development</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Feb 2020 - Sep 2020</p>
              <strong>Tita Media</strong>
            </div>
            <span>FrontEnd Development</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Ago 2019 - Dic 2019</p>
              <strong>Insoftar</strong>
            </div>
            <span>FullStack Developer</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Ago 2018 - Jul 2019</p>
              <strong>Quadi</strong>
            </div>
            <span>FrontEnd Developer</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Nov 2015 - Jul 2018</p>
              <strong>DoD Media</strong>
            </div>
            <span>Ingeniero de Software</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Feb 2014 - Dic 2017</p>
              <strong>SIA Software</strong>
            </div>
            <span>Co Fundador e Ingeniero de Software</span>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 skills">
        <h5>Algunos de mis proyectos</h5>
        <ul>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="https://titamedia.com/">
                <p>Titamedia - Titamedia (2020)</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="https://www.bata.com.co/">
                <p>Bata Colombia - Titamedia (2020)</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="https://www.prochampions.com/">
                <p>Prochampions - Titamedia (2020)</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="https://www.ciencuadras.com/">
                <p>Ciencuadras - Insoftar (2019)</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="https://colombia.travel/birds/">
                <p>Colombia travel Birds - Quadi (2018)</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="https://fernando-vega.github.io/inmobiliaria-contreras/dev/">
                <p>Inmobiliaria Contreras - DoDmedia Group (2017)</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="https://fernando-vega.github.io/dromedario/dev/">
                <p>Dromedario - DoDmedia Group (2017)</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="https://fernando-vega.github.io/boyaca-se-escucha/">
                <p>Boyaca se escucha - DoDmedia Group (2016)</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a target="_blank" href="http://www.hotelcalleprincipal.com/">
                <p>Hotel calle principal - DoDMedia Group (2015)</p>
              </a>
            </div>
          </li>
          <li>
            <div class="row between-xs">
              <a title="OFFLINE">
                <p>Sia Software - Sia Software (2014)</p>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>