<app-hero></app-hero>
<section class="bkg-white">
    <div class="container">
      <div class="row resume">
        <div class="col-xs-12 title">
          <h1>RESUME</h1>
          <span>IF YOU'RE INTO THAT KIND OF THING</span>
        </div>
        <div class="col-xs-12 col-sm-6 diciplines">
          <h5>Engineering disciplines</h5>
          <ol>
            <li>
              <div class="row between-xs">
                <p>SOFTWARE DEVELOPMENT</p>
              </div>
            </li>
            <li>
              <div class="row between-xs">
                <p>Software requirements</p>
              </div>
            </li>
            <li>
              <div class="row between-xs">
                <p>DESIGN (UI)</p>
              </div>
            </li>
            <li>
              <div class="row between-xs">
                <p>DATA BASES</p>
              </div>
            </li>
            <li>
              <div class="row between-xs">
                <p>PRODUCT MANAGEMENT</p>
              </div>
            </li>
          </ol>
        </div>
        <div class="col-xs-12 col-sm-6 skills">
          <h5>Skills</h5>
          <ul>
            <li>
              <div class="row between-xs">
                <p>FRONTEND</p>
              </div>
              <span>HTML, CSS, JAVASCRIPT, WEBPACK, GULP, ANGULAR, VUE.     </span>
            </li>
            <li>
              <div class="row between-xs">
                <p>BACKEND</p>
              </div>
              <span>PHP(LARAVEL), RUBY ON RAILS</span>
            </li>
            <li>
              <div class="row between-xs">
                <p>DESIGN</p>
              </div>
              <span>ADOBE XD, PHOTOSHOP, ILLUSTRATOR</span>
            </li>
            <li>
              <div class="row between-xs">
                <p>TOOLS</p>
              </div>
              <span>GIT, SLACK, TRELLO, JIRA</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>
