@import '../../../../vars';
:host{
  background: linear-gradient(45deg, rgba(68,206,162,1) 0%, rgba(24,93,157,1) 100%);
  display: block;
  padding: 5px;
  .resume{
    padding: 0 15px;
    .title{
      span{
        margin-top: -30px;
        font-size: 1.5rem;
      }
    }
    .diciplines{
      padding: 0 30px;
    }
    .diciplines{
      h5{
        border-bottom: 1px $black2 solid;
        font-size: 1.2rem;
        margin-bottom: 32px;
      }
      ol{
        list-style-type: decimal-leading-zero;
        li{
          margin: 30px 0;
          div{
            border-bottom: 1px $black2 solid;
            margin-bottom: 10px;
            p{
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .skills{
      h5{
        font-size: 1.2rem;
      }
      ul{
        list-style: none;
        margin-top: 30px;
        li{
          border: none;
          margin: 20px 0;
          position: relative;
          div{
            border-bottom: 1px $black2 solid;
            margin-bottom: 10px;
            p{
              color: $blue;
              font-family: $font-archivo;
              padding-left: 10px;
            }
          }
          span{
            padding-left: 10px;
            text-transform: uppercase;
            width: 100%;
          }
        }
      }
    }
  }
  @include for-tablet-landscape-up { 
    padding: 10px;
  }
}