<app-hero></app-hero>
<section class="bkg-white">
    <div class="container">
      <div class="row resume">
        <div class="col-xs-12 title">
          <h1>EXPERIENCIA</h1>
          <span>SI ESTÁS EN ESTE TIPO DE COSAS</span>
        </div>
        <div class="col-xs-12 col-sm-6 diciplines">
          <h5>Conocimientos de ingeniería</h5>
          <ol>
            <li>
              <div class="row between-xs">
                <p>Desarrollo de Software</p>
              </div>
            </li>
            <li>
              <div class="row between-xs">
                <p>Requerimientos de software</p>
              </div>
            </li>
            <li>
              <div class="row between-xs">
                <p>DISEÑO (UI)</p>
              </div>
            </li>
            <li>
              <div class="row between-xs">
                <p>BASES DE DATOS</p>
              </div>
            </li>
            <li>
              <div class="row between-xs">
                <p>ADMINISTRACIÓN DE PROYECTOS</p>
              </div>
            </li>
          </ol>
        </div>
        <div class="col-xs-12 col-sm-6 skills">
          <h5>HABILIDADES</h5>
          <ul>
            <li>
              <div class="row between-xs">
                <p>FRONTEND</p>
              </div>
              <span>HTML, CSS, JAVASCRIPT, WEBPACK, GULP, ANGULAR, VUE.     </span>
            </li>
            <li>
              <div class="row between-xs">
                <p>BACKEND</p>
              </div>
              <span>PHP(LARAVEL), RUBY ON RAILS</span>
            </li>
            <li>
              <div class="row between-xs">
                <p>DISEÑO</p>
              </div>
              <span>ADOBE XD, PHOTOSHOP, ILLUSTRATOR</span>
            </li>
            <li>
              <div class="row between-xs">
                <p>HERRAMIENTAS QUE USO</p>
              </div>
              <span>GIT, SLACK, TRELLO, JIRA</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>
