<footer>
  <div class="container">
    <div class="row center-xs around-xs middle-xs">
      <div class="col-xs-12 col-sm-4"><a class="phone-item-menu" href="https://bit.ly/2N8bOAg" target="_blank">312
          4944614</a>
      </div>
      <div class="col-xs-12 col-sm-4 row">
        <div class="col-xs-12">
          <a href="mailto:juanfe.vega@gmail.com">juanfe.vega@gmail.com</a>
        </div>
        <div class="col-xs-12">
          <p class="copyright">© Fernando Vega <br> -2021-</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="row center-xs social-icons">
          <div class="col-xs-2 social-icons-icon"><a target="_blank" href="https://codepen.io/fernando-vega"><span
                class="icon-codepen"></span></a></div>
          <div class="col-xs-2 social-icons-icon"><a target="_blank" href="https://github.com/fernando-vega"><span
                class="icon-github"></span></a></div>
          <div class="col-xs-2 social-icons-icon"><a target="_blank"
              href="https://www.linkedin.com/in/fernando-vega-p/"><span class="icon-linkedin2"></span></a></div>
          <div class="col-xs-2 social-icons-icon"><a target="_blank" href="https://twitter.com/vega_fercho"><span
                class="icon-twitter"></span></a></div>
        </div>
      </div>
      <!-- <div class="col-xs-12">
        <span class="inspired">Inspired by 
          <a href="https://adamsandoval.co/" target="_blank">Adam Sandoval</a>
        </span>
      </div> -->
    </div>
  </div>
</footer>
