@import '../../../../vars';
:host{
  left: 0;
  background: linear-gradient(45deg, rgba(68,206,162,1) 0%, rgba(24,93,157,1) 100%);
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  .home-container{
    display: flex;
    padding: 10px;
    .home-container-item{
      width: calc(100% - 20px);
      transition: all 0.3s;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      filter: blur(2px);
      scale: .9;
      .home-container-item-text{
        background: rgba($white, 0.8);
        height: calc(100vh - 20px);
        transition: all 1s ease-in-out;
        opacity: 0;
        position: relative;
        right: -100%;

        .home-container-item-text-content{
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: left;
          padding: 0;
          position: absolute;
          width: 100%;

          article{
            position: relative;
            text-align: center;
            padding: 0 15px;
            width: 100%;
            h2{
              color: $blue;
              font-size: 3rem;
              font-family: $font-archivo;
              margin-bottom: 15px;
            }
            p{
              font-family: $font-overpass;
              line-height: 1.5em;
              margin: auto;
              max-width: 500px;
            }
          }

          .text-scroll{
            color: $gray;
            cursor: pointer;
            font-size: 1rem;
            opacity: .3;
            text-align: center;
            transition: .3s ease-in-out;
            position: absolute;
            width: 100%;
            bottom: 0;
            &:hover {
              opacity: .1;
            }
          }
          @include for-tablet-landscape-up { 
            padding: 0 0 0 10%;
            article{
              text-align: left;
              padding: 0 30% 0 0;
              h3 {
                font-size: 4rem;
              }
              p {
                margin: 0;
              }
            }
            .text-scroll{
              right: -35%;
              font-size: 3rem;
              bottom: initial;
              transform: rotate(90deg);
            }
          }
        }
      }
      &.active{
        filter: blur(0px);
        visibility: visible;
        opacity: 1;
        background-position: center center;
        scale: 1;
        &:first-child{
          background: url('../../../../assets/images/hero/hero-1.png') no-repeat;
          background-size: cover;
          background-position-x: 15%;
        }
        &:nth-child(2){
          background: url('../../../../assets/images/hero/hero-2.png') no-repeat;
          background-size: cover;
        }
        &:nth-child(3){
          background: url('../../../../assets/images/hero/hero-3.png') no-repeat;
          background-size: cover;
        }
        .home-container-item-text{
          opacity: 1;
          right: 0;
          filter: blur(0px);
        }
      }
    }
  }
}
