<section appScroll class="home-container row">
  <div class="home-container-item row active">
    <div class="col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6 home-container-item-text">
      <div class="home-container-item-text-content">
        <article>
          <h2>HOLA,</h2>
          <p>
            Mi nombre es Fernando Vega, soy Ingeniero de Sistemas y Computación
            de la Universidad Pedagógica y Tecnológica de Colombia
            <br />
            Desarrollor frontend,
            <br />
            Soy un apasionado del desarrollo web, entusiasta de la UI / UX y la
            tecnología en general
          </p>
          <a class="btn btn-border-blue btn-hidden" routerLink="/about"
            >+ SOBRE MÍ</a
          >
        </article>
        <span class="text-scroll"> SABER MÁS </span>
      </div>
    </div>
  </div>
  <div class="home-container-item row">
    <div class="col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6 home-container-item-text">
      <div class="home-container-item-text-content">
        <article>
          <h2>HABILIDADES</h2>
          <p>
            GIT, Webpack, HTML, CSS,<br />
            JavaScript Angular, React JS, VUE.<br />
            Node JS, PHP(Laravel), Python<br />
            Ruby on Rails <br />
            MySQL, Postgress.<br />
            Adobe (Illustrator, Photoshop, XD), FIGMA
          </p>
          <a class="btn btn-border-blue btn-hidden" routerLink="/resume"
            >+ SKILLS</a
          >
        </article>
        <span class="text-scroll"> SABER MÁS </span>
      </div>
    </div>
  </div>
  <div class="home-container-item row">
    <div class="col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6 home-container-item-text">
      <div class="home-container-item-text-content">
        <article>
          <h2>EXPERIENCIA</h2>
          <p>
            <b>2022 - Actual : RobinFood (FrontEnd Web Developer)</b>
          </p>
          <p>2020 - 2022 : Scotiabank Colpatria (FrontEnd Web Developer)</p>
          <br />
          <p>2020 - 2020 : TITA MEDIA (FrontEnd Web Developer)</p>
          <br />
          <p>2019 - 2020 : Insoftar (Fullstack Developer)</p>
          <br />
          <p>2018 - 2019 : Quadi(FrontEnd Web Developer)</p>
          <br />
          <p>2015 - 2018 : DoDMediaGroup(Ingeniero de Software)</p>
          <br />
          <p>2014 - 2017 : Sia Software(Web Developer)</p>
          <a class="btn btn-border-blue btn-hidden" routerLink="/portfolio"
            >VER MÁS</a
          >
        </article>
        <span class="text-scroll"> SABER MÁS </span>
      </div>
    </div>
  </div>
</section>
