<section appScroll class="home-container row">
  <div class="home-container-item row active">
    <div class="col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6 home-container-item-text">
      <div class="home-container-item-text-content">
        <article>
          <h2>HOLA,</h2>
          <p>Mi nombre es Fernando Vega, soy ingeniero de sistemas y computación de la Universidad Pedagógica y Tecnológica de Colombia
            <br>
            Desarrollor frontend,
            <br>
            Soy un apasionado del desarrollo web, entusiasta de UI / UX y la tecnología</p>
            <a class="btn btn-border-blue btn-hidden" routerLink="/about">VER MÁS</a>
        </article>
        <span class="text-scroll">
            SABER MÁS
        </span>
      </div>
    </div>
  </div>
  <div class="home-container-item row">
    <div class="col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6 home-container-item-text">
      <div class="home-container-item-text-content">
        <article>
          <h2>HABILIDADES</h2>
          <p>GIT, Webpack, HTML, CSS,<br> JavaScript
            Angular, VUE.<br>
            PHP(Laravel, WordPress), Python<br>
            Ruby on Rails <br> MySQL, Postgress.<br>
            Adobe
            (Illustrator, Photoshop, XD)</p>
            <a class="btn btn-border-blue btn-hidden" routerLink="/resume">VER MÁS</a>
        </article>
        <span class="text-scroll">
          SABER MÁS
        </span>
      </div>
    </div>
  </div>
  <div class="home-container-item row">
    <div class="col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6 home-container-item-text">
      <div class="home-container-item-text-content">
        <article>
          <h2>EXPERIENCIA</h2>
            <p><b>2020 - Actual : TITA MEDIA (FrontEnd Web Developer)</b></p>
            <br>
            <p>2019 - 2020 : Insoftar (Fullstack Developer)</p>
            <br>
            <p>2018 - 2019 : Quadi(FrontEnd Web Developer)</p>
            <br>
            <p>2015 - 2018 : DoDMediaGroup(Ingeniero de Software)</p>
            <br>
            <p>2014 - 2017 : Sia Software(Web Developer)</p>
            <a class="btn btn-border-blue btn-hidden" routerLink="/portfolio">VER MÁS</a>
        </article>
        <span class="text-scroll">
          SABER MÁS
        </span>
      </div>
    </div>
  </div>
</section>