
<app-hero></app-hero>
<section class="bkg-white">
  <div class="container">
    <div class="row about">
      <div class="col-xs-12 title">
        <h1>¿Quíen soy?</h1>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>Soy Fernando Vega, ingeniero de sistemas y computación, residente en Bogotá. Estoy principalmente enfocado en el desarrollo, la arquitectura y el diseño web, me encanta enfrentar cualquier desafío. Soy bueno en cualquier proceso que permita encontrar una solución estratégica y creativa para cualquier problema que busque un camino en la web. Cuando no estoy programando, me encuentro montando bicicleta, recorriendo senderos, jugando videojuegos o pasando tiempo con mi familia y amigos.</p>
        <a class="btn btn-blue" href="CV.pdf" download>Descargar CV</a>
      </div>
      <div class="col-xs-12 col-sm-6 work-experience">
        <h5>Experiencia laborar</h5>
        <ul>
          <li>
            <div class="row between-xs">
              <p>Oct 2020 - Actual</p>
              <strong>Scotiabank Colpatria</strong>
            </div>
            <span>FrontEnd Development</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Feb 2020 - Sep 2020</p>
              <strong>Tita Media</strong>
            </div>
            <span>FrontEnd Development</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Ago 2019 - Dic 2019</p>
              <strong>Insoftar</strong>
            </div>
            <span>FullStack Developer</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Ago 2018 - Jul 2019</p>
              <strong>Quadi</strong>
            </div>
            <span>FrontEnd Developer</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Nov 2015 - Jul 2018</p>
              <strong>DoD Media</strong>
            </div>
            <span>Ingeniero de Software</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Feb 2014 - Dic 2017</p>
              <strong>SIA Software</strong>
            </div>
            <span>Co Fundador e Ingeniero de Software</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="bkg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 title">
        <h3>SOBRE MÍ</h3>
        <span>Lo que más amo</span>
      </div>
      <div class="list-more-content">
        <ul>
          <li><strong>Familia: </strong>son la columna vertebral de todo lo que hago, mi fuerza, mi inspiración, mi mayor felicidad.</li>
          <li><strong>Amigos: </strong>el mejor combustible para perseguir sueños y lograrlos, tengo buenos amigos a mi alrededor, ellos me inspiran y motivan con su ayuda y consejos para lograr todo lo que me propongo.</li>
          <li><strong>Música: </strong>me ayuda a mantener la concentración, a canalizar mis pensamientos y emociones, mi mejor compañía en todo momento.</li>
          <li><strong>Leer: </strong>Me permite abrir mi mente, cambiar mi forma de pensar e interpretar todo lo que me rodea, siempre una buena lectura para aprender un poco más y tener una visión diferente cada día.</li>
          <li><strong>Videojuegos: </strong>me desconectan, me entretienen, me hacen disfrutar y olvidarme de todo.</li>
          <li><strong>Viajar: </strong>me recarga de energía y llena mi vida de experiencias inolvidables.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
