
<app-hero></app-hero>
<section class="bkg-white">
  <div class="container">
    <div class="row about">
      <div class="col-xs-12 title">
        <h1>WHO IS THIS GUY?</h1>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>I am Fernando Vega, computer and systems engineer living in Bogotá. I am primarily focused on  development, arquitecture, and design web, love taking on any challenge. I am good at interacting with customers to find a strategic and creative solution for any development. When I don't development, I can be riding my bike, hitting the trails, playing video games, or spending time with my family and friends.</p>
        <a class="btn btn-blue" href="CV.pdf" download>Download CV</a>
      </div>
      <div class="col-xs-12 col-sm-6 work-experience">
        <h5>Work experience</h5>
        <ul>
          <li>
            <div class="row between-xs">
              <p>Feb 2020 - Act</p>
              <strong>Tita Media</strong>
            </div>
            <span>FrontEnd Development</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Aug 2019 - Dec 2019</p>
              <strong>Insoftar</strong>
            </div>
            <span>FullStack Developer</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Aug 2018 - Aug 2019</p>
              <strong>Quadi</strong>
            </div>
            <span>FrontEnd Developer</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Nov 2015 - Aug 2018</p>
              <strong>DoD Media</strong>
            </div>
            <span>Software Engineer</span>
          </li>
          <li>
            <div class="row between-xs">
              <p>Feb 2014 - Dec 2017</p>
              <strong>SIA Software</strong>
            </div>
            <span>Co Founder & Software Engineer</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="bkg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 title">
        <h3>MORE ABOUT ME</h3>
        <span>What I love the most</span>
      </div>
      <div class="list-more-content">
        <ul>
          <li><strong>Family: </strong>they are the backbone of everything 
            I do, my strength, my inspiration, my greatest happiness.</li>
          <li><strong>Friends: </strong>the best fuel to pursue dreams and achieve them, I have good friends around me, they inspire and motivate me with their help and advice to achieve everything I set out to do.</li>
          <li><strong>Music: </strong>Help keep me focused, to channel my thoughts and emotions, my best company at all times.</li>
          <li><strong>Reading: </strong>open my mind, change my way of thinking and interpret everything around me, always a good read to learn a little more and have a different vision every day.</li>
          <li><strong>Video games: </strong>they disconnect me, they entertain me, they make me enjoy and forget everything.</li>
          <li><strong>Travel: </strong>it recharges me with energy and fills my life with unforgettable experiences.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
